################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JTWAuth/.vs/JTWAuth/v16
/JTWAuth/JTWAuth/obj
/JTWAuth/JTWAuth/bin
/JTWAuth/.vs/JTWAuth/DesignTimeBuild
